<div class="flex">
		<small>&copy; 2023 Jake Berran. Created by Jake Berran.</small>
		
	<ul>
    <li>
      <a href="https://github.com/jakeberran" target="_blank" rel="noopener noreferrer">
      <img src="https://jakeberran.com/media/icons/github.png" width="32"/>
      </a>
    </li>

	  <li>
		<a href="https://www.youtube.com/c/jakeb2" target="_blank" rel="noopener noreferrer">
		<img src="https://jakeberran.com/media/icons/youtube.png" width="32"/>
		</a>
	  </li>

	  <li>
		<a href="https://soundcloud.com/jakeb27" target="_blank" rel="noopener noreferrer">
		<img src="https://jakeberran.com/media/icons/soundcloud.png" width="32"/>
		</a>
	  </li>

	  <li>
		<a href="https://open.spotify.com/artist/6r8Az74mlJGZwuCWLaXy6c" target="_blank" rel="noopener noreferrer">
		<img src="https://jakeberran.com/media/icons/spotify.png" width="32"/>
		</a>
	  </li>

	  <li>
		<a href="https://music.apple.com/us/artist/jake-berran/1066915024" target="_blank" rel="noopener noreferrer">
		<img src="https://jakeberran.com/media/icons/applemusic.png" width="32"/>
		</a>
	  </li>

	  <li>
		<a href="https://www.facebook.com/jake.berran.9" target="_blank" rel="noopener noreferrer">
		<img src="https://jakeberran.com/media/icons/facebook.png" width="32"/>
		</a>
	  </li>

	  <li>
		<a href="https://www.instagram.com/jakeberran/" target="_blank" rel="noopener noreferrer">
		<img src="https://jakeberran.com/media/icons/instagram.png" width="32"/>
		</a>
	  </li>

	</ul>
	</div>