<div class="flex">
  <div class="logo">
  <a href="https://jakeberran.com/index.html">Jake Berran <span>Composer</span></a>
  </div>
  <nav>
  <button id="nav-toggle" class="hamburger-menu">
    <span class="strip"></span>
    <span class="strip"></span>
    <span class="strip"></span>
  </button>
  <ul id="nav-menu-container">
    <li><button onClick="location.href='https://jakeberran.com/musicpages/sdt.html'">≤Trios</button></li>
    <li><button onClick="location.href='https://jakeberran.com/musicpages/sm.html'">≥Quartets</button></li>
    <li><button onClick="location.href='https://jakeberran.com/musicpages/lg.html'">Large</button></li>
    <li><button onClick="location.href='https://jakeberran.com/musicpages/elec.html'">Electronic</button></li>
    <li><button onClick="location.href='https://jakeberran.com/musicpages/more.html'">More</button></li>
    <li><button onClick="location.href='https://jakeberran.com/contact.html'">Contact</button></li>
  </ul>
  </nav>

  <script>
		document.getElementById('nav-toggle').addEventListener('click', function () {
	let navMenu = document.getElementById('nav-menu-container');
	navMenu.style.display = navMenu.offsetParent === null ? 'block' : 'none';
})
	</script>

</div>