/*general things*/

:root {
	--backg: #c7fbffee;
}

html, body {
	background-color: #c5dcde;
	max-width: 1150px !important;
	width: 100%;
	margin: 0 auto !important;
	float: none !important;
	/* overflow-x: hidden; */
}

#wrapper {
	background-color: var(--backg);
  max-width: 100vw !important;
}

/* global style rules */
body {
	margin: 0;
	font-family: 'helvetica', 'sans-serif';
}

main {
	padding-top: 75px; /*in order to not be covered by the navbar*/
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	text-align: center;
	font-weight: 300;
	margin: 0;
}

h1 {
	font-size: 4em;
	margin: 20px 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.2em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

u {
	opacity: 0.5;
	text-decoration: none;
	font-size: 75%;
}

a:hover {
	text-decoration: underline;
}

button {
	border-radius: 3px;
}

.flex {
	display: flex;
	max-width: 1150px;
	margin: 0 auto;
}

/* start header styles */
header {
	background-color: #5134D1;
	width: 100%;
	padding: 20px;
    position: fixed;
    z-index: 3;
	max-width: min(100vw, 1150px);
	box-sizing: border-box;
}

header .flex {
	display: flex;
	justify-content: space-between;
}

.logo {
	padding-top: 4px;
	/*margin-left: 10px;*/
}

.logo a {
	color: #fff;
	font-size: 1.25em;
}

.logo a:hover {
	text-decoration: none;
}

.logo span {
	color: #a69add;
}

.hamburger-menu {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 3px 5px;
	width: 30px;
	cursor: pointer;
	display: none;
}

.hamburger-menu .strip {
	display: block;
	height: 1px;
	background-color: #fff;
	margin: 4px 0;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	font-size: 1em;
	margin: 0 2px;
	/*background-color: #e1d5ff;*/
}

nav ul li button {
	background-color: #A48AE5;
	color: white;
	border: none;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	border-radius: 9px;
}

nav ul li button:hover {

	color: black;
	background-color: #e1d5ff;
}

/* end header style */

/*start middle section styles*/
.main-img {
	position: relative;
	/*max-height: 700px;*/
	overflow: hidden;
	margin-bottom: 0;
}

.main-img img {
	width: 100%;
}

.bar-stuff {
	position: absolute; /*respects relative position container main-img*/
	z-index: 2; /*goes above the rest of the stuff*/
	background-color: rgba(199, 251, 255, 0.95);
	bottom: 0;
	left: 0;
	padding: 30px;
}

.bar-stuff h2, .bar-stuff p {
	color: #5134D1;
}

.bar-stuff p {
	text-align: justify;
}

/*end middle section styles*/

/* start slideshow styles */

.slideshow-container * {
	box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0;
}

/* Hide the other by default */
.mySlides {
  display: none;
}

.initial-pic {
	display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.captiontext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* end slideshow styles */

.divider {
	display: block;
	width: 100%;
	margin: 0 0 36px;
	background-color:#5134D1;
	color:#5134D1
}

.divider .thin {
	margin: 0 0 2px;
}

/*start: boxes styles*/

.boxes {
	margin: 40px 80px 60px;
}

.boxes .flex {
	justify-content: space-around;
}

.box {
	background-color: #5134D1;
	padding: 40px;
	margin: 0 40px 40px 0;
  border-radius: 10px;
	color: #fff;
	text-align: center;
}

.lastbox {
	margin: 0 0 40px 0; 
}

.box h2 {
	margin-bottom: 25px;
	color: #e1d5ff;
	text-align: center;
}

.box p {
	line-height: 1.5em;
	margin-bottom: 40px;
	font-size: 1.2em;
}

.box input {
	background-color: #A48AE5;
	border: none;
	padding: 8px 30px; /*t rlb??*/
	color: #fff;
	font-size: 1.25em;
}

.box input:hover {
	color: black;
	background-color: #e1d5ff;
}

/*end: boxes styles*/



/*start: blog styles*/

.blog {
	color: rgb(36, 36, 36);
	text-align: left;
	padding: 75px 20px 60px; /*top rl bottom */
}

.blog div {
	max-width: 650px;
	margin: 0 auto;
}

.blog h1 {
	margin-bottom: 50px;
  color: #5134D1;
	text-align: center;
}

.blog h2 {
	margin: 40px auto 20px;
  color: #5134D1;
	text-align: left;
}

.blog p {
	margin: 0 auto 20px; /*top rl bottom*/
}

.blog button {
	background-color: #5134D1;
	color: #fff;
	border: none;
	font-size: 1em;
	padding: 8px 30px;
}

/*end: blog styles*/



/* start: contact styles */

.contact-me {
	background-color: #5134D1;
	padding: 75px 0 60px;
	text-align: center;
}

.contact-me h1 {
	color: #fff;
	margin-bottom: 50px;
}

	/* start links styles */
	.no-bullets {
		list-style: none;
		padding-inline-start: 0;
	}

	.add-vspace li {
		margin-bottom: 10px;
	}

	.same-width {
		width: 80%;
		max-width: 1000px;
		margin: 0 auto;
	}

	.same-width li button {
		width: 100%
	}
	/* end links styles */

/*.contact-me .flex {
	justify-content: space-between;
	align-items: center;
	display:flex;
	max-width: 900px;
}
*/


/*.small-pic img {
	width: 400px;
	
	margin-left: 10px;
}
*/

.contact-form {
	width: 400px;
	padding: 0 30px 0 30px;
	margin: auto;
}

/*.contact-form address {
	color: #fff;
	font-size: 1.05em;
	text-align: center;
	font-style: normal;
	font-weight: 300;
	margin-bottom: 40px;
} */

.contact-form input, .contact-form textarea {
	margin: 0 0 20px;
	padding: 8px 12px;
	color: #597DB5;
	font-size: 16px;
	width: 100%;
	border: none;
	box-sizing: border-box; 
	/*border-box vs content-box?*/
}

.contact-form input[placeholder="Scale Length"] {
	margin: 0;
	/*this is an icky workaround*/
}

.contact-form textarea {
	resize: none;
	height: 110px;
}

.contact-form input[type=submit] {
	background-color: #A48AE5;
    border: none;
    color: #fff;
	width: 120px;
    /*padding: 8px 40px;*/
    font-size: 1em;
}

.contact-form input[type=radio] {
	margin: 0;
	width: auto;
}

.contact-me button {
	background-color: #A48AE5;
	color: #fff;
	border: none;
	padding: 8px 30px; /*t rlb??*/	
	font-size: 1.25em;
}

.contact-me button:hover {
	
	color: black;
	background-color: #e1d5ff;
}

input::placeholder {
	color: #597DB5;
}

/* end: contact styles */

/* start: table styles*/
.content-page {
	margin: 30px;
}

table {
	margin: 0 auto 20px;
}
/* end: table styles*/

/*start footer styles*/

footer {
	background-color: #5134D1;
	padding: 75px 10px 60px;
	color: #fff;
}

footer small {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

footer .flex {
	/*max-width: 900px;*/
	justify-content: space-between;
	margin: 0 20px;
}

footer ul {
	list-style-type: none;
	margin: 0 20px 0 0;
	padding: 0;
}

footer ul li {
	display: inline-block;
	margin-left: 20px;
}

/*end footer styles */

/* Pagination links */
.pagination {
	margin: 12px 0;
	text-align: center;
}

.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
  }
  
  /* Style the active/current link */


.pagination a:not(.active) {
	background-color: #c7fbffee;
}
  
  /* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
	background-color: #ddd !important;
}

.pagination a.active {
		background-color: #A48AE5 !important;
		color: white ;
	}

/*songlist formatting*/

#h1space {
	margin: 20px 0;
}

#h1morespace {
	margin: 40px 0;
}

.table {
	display: table;
	width: 100%;
}

.table h3 {
	font-size: 2em;
}

.table p {
	font-size: 1em;
}

.table div {
	display: table-row;
	height: auto;
}

.table div span {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding: 10px 10px;
}

.song-info h3, .song-info a, .song-info input {
	display:inline;
	vertical-align: middle;
	margin-right: 10px;
}

.song-info a {
  font-size: 1em;
}

.song-info a img {
  vertical-align: middle;
}

@keyframes workHighlight {
  0%   {background-color: transparent;}
  15%  {background-color: #fff29e;}
  33%  {background-color: transparent;}
  55% {background-color: #fff29e;}
  70%  {background-color: transparent;}
  100% {background-color: #fff29e;}
}

.work {
  border-radius: 3px;
}

.work-highlight {
  background-color: #fff29e;
  animation-name: workHighlight;
  animation-delay: 0.5s;
  animation-duration: 2.5s;
}

audio {
	width: 100%;
}

.table button {
	background-color: #A48AE5;
	color: #fff;
	border: none;
	padding: 8px 12px; /*t rlb??*/	
	font-size: 1em;
	border-radius: 3px;
}

.table button:hover {
	color: black;
	background-color: #e1d5ff;
}

.info {
	src: "https://jakeberran.com/media/icons/info_unselected.png";
} 

.info:hover {
	src: "https://jakeberran.com/media/icons/info_selected.png";
}

.table hr {
	border: 0;
	margin: 20px 0;
}

.table iframe {
	width: 400px;
	height: 225px;
}

iframe.gdrive {
  width: 450px;
  max-width: min(123%, 450px);
  height: 60px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

/*big links page*/

.biglinks {
	margin: 20px;
	font-size: 1.5em;
	line-height: 35px;
}


/* start media queries */

@media (min-width: 1044px) {
  nav ul {
    display: block !important;
  }
}

@media (max-width: 995px) {
	nav ul {
		display: none;
		position: absolute;
		right: 0;
		background-color: #5134D1;
		top: 100%;
		z-index: 3;
		width: 100%;
	}
	
	nav ul li {
		display: block;
		text-align: center;
		padding-top: 11px;
		margin: 0 auto 11px;
		border-top: 1px solid #fff;
	}
	
	nav ul li button {
		font-size: 1.5em;
		width: 95%;
		padding: 15px 0 15px;
		vertical-align: middle;
	}
	
	.hamburger-menu {
		display: block;
	}

	.bar-stuff p {
		font-size: 0.9em;
	}
	
  .gdrive {
    transform: scale(0.8);
    max-width: 100%;
    transform-origin: top left;
  }
}

@media (max-width: 767px) {

  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 1.8em;
  }
  
  h3 {
    font-size: 1em;
  }
  
  .flex {
    display: block;
  }
  
  .box {
    width: 100%;
    margin: 40px 0;
    box-sizing: border-box;
  }
  
  .box p {
    font-size: 0.8em;
    margin-bottom: 25px;
  }
  
  /*
  .small-pic {
    width: 300px;
    height: 300px;
    margin: 0 auto 60px;
    text-align: center;
  }*/
  
  footer {
    text-align: center;
  }
  
  footer small {
    display: flex;
    justify-content: center;
  
  }
  
  footer ul {
    margin-top: 30px;
    justify-content: center;
  }
  
  .bar-stuff {
    position: static;
  }
  
}

@media (max-width: 650px) {

h1 {
	font-size: 2.4em;
	font-weight: 600;
}

h2 {
	font-size: 1.9em;
}

h3 {
	font-size: 0.9em;
}

p {
	font-size: 0.8em;
}

.bar-stuff {
	padding: 15px 15px;
}


.bar-stuff p {
	font-size: 0.8em;
}

.content-page {
	margin: 0 20px;
}

.table {
	display: block;
}

.table hr {
	border: 1px solid #555555;
	display: block;
}

.table h3 {
	font-size: 1.6em;
}

.table p {
	font-size: 0.8em;
	margin-right: 40px;
}

.table div {
  display: flex;
  flex-direction: column;
}

.work span {
	margin: 0;
	align-items: center;
	padding: 0;
}

.song-info {
	margin-bottom: 20px
}

.work .song {
	display: grid;
}

.song h3 {
	line-height: 1.5em;
}

.table a img {
	height: 24px;
}

.table button {
	font-size: 0.8em;
	padding: 6px 8px;
}

.biglinks {
	font-size: 1.2em;
}

}

@media (max-width: 500px) {
	.contact-form {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
}

@media (max-width: 400px) {

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.75em;
}

.pagination {
	margin: 10px 0;
	text-align: center;
}

.pagination a {
	color: black;
	padding: 8px 12px;
	text-decoration: none;
	transition: background-color .3s;
  }

.boxes {
	margin: 0 20px 20px;
}

nav ul li button {
	font-size: 1.2em;
	width: 95%;
	padding: 15px 0 15px;
	vertical-align: middle;
}

.biglinks {
	font-size: 1em;
}

}

@media (max-width: 480px) {
	audio {
		width: 100%;
		height: 35px;
	}
	
	.content-page {
		margin: 0 20px;
	}

	.table p {
		font-size: 0.75em;
	}
	
	.table div span {
		align-items: center;
		padding: 0;
		margin-right: 10px;
	}

  .song-info {
    width: 100% !important;
  }
	
	.table div .song {
		width: 95%;
		vertical-align: middle;
		padding: 10px 2px;
	}

	.table a img {
		height: 24px;
	}
	
	.table button {
		font-size: 0.8em;
		padding: 6px 8px;
	}

	.vidcontainer {
		width: 100%;
		padding-top: 50.625%;
		position: relative;
	}

	.video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100% !important;
		height: 100% !important;
	}

	.gdrive {
    transform: scale(var(--gd-scale));
    transform-origin: top left;
  }
}

@media (max-width: 1000px) and (min-width: 768px) {
	.box h2 {
		font-size: 1.5em;
	}
}

/* For fixing things */
@media (max-width: 1px) {
body { margin: 30px; }
/* Optional: Add some margin to the body to add space and 
see where your offending elements cross the line */

body * { border: 1px solid red; }
/* add a border to all other elements on the page */

body * { outline: 1px solid red; }
/* Alternate: add an outline  to all elements on the page. Won't effect box model */

div.table * { outline: 1px solid red; }
/* If you've got some idea about where the issue is, drill down further than the body tag */
}